* {
	margin: 5%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.5;
}

/*___________________________________________________*/

.indexheader {
	font-family: 'Helvetica', sans-serif;
	font-size: 200%;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.about {
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	top: 10%;
	left: 5%;
}

.aboutinfo {
	font-family: monospace;
	position: absolute;
	top: 15%;
	left: 5%;
	width: 20%;
}

.studioheader {
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.labheader {
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}

/*___________________________________________________*/

.studiolist {
	position: absolute;
	font-family: monospace;
	left: 50%;
	transform: translate(-50%,-50%);
}

#malevich {
	top: 15%;
}

#linking {
	top: 20%;
}

#stilllife {
	top: 25%;
}

#clock {
	top: 30%;
}

#responsive {
	top: 35%;
}

#containers {
	top: 40%;
}

#hands {
	top: 45%;
}

/*___________________________________________________*/

.lablist {
	position: absolute;
	font-family: monospace;
	left: 50%;
	transform: translate(-50%,-50%);
}

#htmlpages {
	top: 55%;
}

#themix {
	top: 60%;
}

#filtering {
	top: 65%;
}

#mobile {
	top: 70%;
}









