* {
	margin: 10px;
	background-color: #f4e542;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.5;
}

.split {
	height: 70%;
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 5%;
	overflow-x: hidden;
}

.left {
	left: 0;
}

.center {
	left: 35%;
	top: 5%;
}

.right{
	left: 70%;
	top: 2%;	
}


/*___________________________________________________*/

.indexheader {
	font-family: 'Francois One', 'Helvetica', sans-serif;
	color: #f47142;
	font-size: 600%;
	position: absolute;
	bottom: 0;
	right: 2%;
}

.about {
	font-family: 'Francois One', 'Helvetica', sans-serif;
	position: relative;
	color: #f47142;
	font-size: 150%;
	top: 10%;
	left: 5%;
}

.aboutinfo {
	font-family: monospace;
	position: relative;
	top: 25%;
	left: 5%;

}

.studioheader {
	font-family: 'Francois One', 'Helvetica', sans-serif;
	color: #f47142;
	position: relative;
	font-size: 150%;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.labheader {
	font-family: 'Francois One', 'Helvetica', sans-serif;
	color: #f47142;
	position: relative;
	font-size: 150%;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);	
}

/*___________________________________________________*/

.studiolist {
	position: relative;
	font-family: monospace;
	left: 50%;
	transform: translate(-50%,-50%); 
} 

#malevich {
	top: 25%;
}

#linking {
	top: 30%;
}

#stilllife {
	top: 35%;
}

#clock {
	top: 40%;
}

#responsive {
	top: 45%;
}

#containers {
	top: 50%;
}

#hands {
	top: 55%;
}

/*___________________________________________________*/

.lablist {
	position: relative;
	font-family: monospace;
	left: 50%;
	transform: translate(-50%,-50%);
}

#htmlpages {
	top: 55%;
}

#themix {
	top: 60%;
}

#filtering {
	top: 65%;
}

#mobile {
	top: 70%;
}









