* {
	margin: 5%;
	font-family: monospace;
	background-color: #f4e542;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.5
}

.homebutton {
	font-family: 'Francois One', 'Helvetica', sans-serif;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #f47142;
	font-size: 150%;
}

